<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/Header.ejs') %>

<body>
    <%- include('../partials/NavBar.ejs') %>

    <h1>Your Profile</h1>
    
    <h2><%= accountUser.accountType%> | <%= accountUser.firstName%> <%= accountUser.lastName%></h2>
    <h3><%= accountUser.email%></h3>
    
    <%- include('../partials/Footer.ejs') %>
</body>
</html>