<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/Header.ejs') %>

<body>
    <style>
        h1 {
            text-align: center;
            font-size: 150%;
        }
        .alignCenter {
            text-align: center;
            display: block;
            margin: auto;
            width: 70%;
        }

    </style>
    <%- include('../partials/NavBar.ejs') %>
    
    <div class="courses">
        <form action="">
            <% if (courses.length > 0) { let count = 0;%>
                <% courses.forEach(course => { %>

                    <div class="class alignCenter">
                        <ul class="classBox classTitle">
                            <li class="classItem"><input type="checkbox" id="course<%=count%>" name="course<%=count%>" value="<%=course._id%>"></li>
                            <li class="classItem">
                                <label for="course<%=count%>">
                                    <h2><%= course.title %></h2>
                                </label>
                            </li>
                        </ul>
                        
                        <p class="desc"><%= course.desc %></p>
                        <ul class="classBox">
                            <li class="classItem"><h3 class="subject">Subject: <%= course.subject %>|</h3></li>
                            <li class="classItem"><h3 class="credits">Credits: <%= course.credits %></h3></li>
                        </ul>
                    </div>

                <% count ++;}); %>
            <% } else { %>
                <p> No courses available!</p>
            <% } %>
        </form>
    </div>
    <%- include('../partials/Footer.ejs') %>
</body>
</html>